/*
 * Folhas de estilo do template do site.
 * By Luferat
 */

/* Importa bibliotecas externas. */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* RESET - Normalize - define regras de comportamento do design 
* do site dependendo do navegador utilizado, padronizando-o.*/
* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #ce6f2f;
    text-decoration: none;
}

/* Define a fonte e o fundo padrão da página. */
body {
    font-family: Roboto, sans-serif;
    /* Criamos uma nova unidade chamada 'rem' → lrem = 16px */
    font-size: 16px;
    height: 100%;
    background: rgb(233,233,233);
    background: linear-gradient(0deg, rgba(233,233,233,1) 0%, rgba(255,255,255,1) 100%);
    background-attachment: scroll;
}

#wrap {
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: justify;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    position: auto;
    display: flex;
    flex-direction: column;
}

/* Alterações na header do blog e seus espaçamentos. */
#wrap>header {
    background-color: #ffffff;
    margin: 5.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    align-items: center;
}

#wrap>header img {
    width: 6rem;
    margin-left: 1rem;
    margin-right: 10px;
}

#wrap>header h1 {
    margin: 0;
}

/* Alterações do menu do blog.*/
#wrap>nav .navbar {
    overflow: hidden;
    background-color: #fffffff0;
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #000;
    z-index: 100;
    opacity: .9;
}

#wrap>nav .navbar a {
    float: left;
    display: flex;
    color: #ce6f2f;
    flex-direction: column;
    align-items: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;
    opacity: .9;
}

#wrap>nav .navbar a:first-child {
    margin-right: auto;
}

#wrap>nav .navbar a:hover {
    color: #000;
}

#wrap>nav .navbar a i {
    font-size: 1.2rem;
    margin-bottom: .2rem;
}

/* Alterações nos artigos principais de exibição da tela,
 * Ou seja, seu conteúdo. */
#wrap>main {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    flex-grow: 1;
    background-color: #fff;
}

#wrap>main>article {
    padding: 10px;
    text-align: justify;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #414141;
    line-height: 20px;
    position: relative;
    flex-grow: 1;
    background-color: #fff;
}

#wrap>main>aside {
    padding: 10px;
    text-align: justify;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #414141;
    position: relative;
    background-color: #fff;
}

/* Modificações na apresentação dos títulos da páginas, 
 * Adicionando fundo laranja, linha e cores.*/
#wrap>main h2 {
    color: rgb(0, 0, 0);
    font: 700 20px Roboto, sans-serif;
    margin: 0px;
    background: #ce6f2f;
    color: white;
    padding: 10px 15px 10px 15px;
    display: inline-block;
    text-transform: uppercase;
}

#wrap>main h2:after {
    content: " ";
    display: block;
    border-bottom: 2px solid #ce6f2f;
    background: black;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 10px;
}

#wrap>main h3 {
    color: rgb(0, 0, 0);
    font: 200 18px Roboto, sans-serif;
    margin: 0px;
    background: #ce6f2f;
    color: white;
    padding: 10px 15px 10px 15px;
    display: inline-block;
    text-transform: uppercase;
}

#wrap>main h3:after {
    content: " ";
    display: block;
    border-bottom: 2px solid #ce6f2f;
    background: black;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 10px;
}

/* Rodapé */
.footer { 
	background-color:#ce6f2f; 
	color:#fff; 
	font-size:0.875rem; 
    margin-top: 1rem;
}
.footer .content { float:left; width:90%; margin:0 5%; padding: 1rem 0; }
.container { float: left; width:100%; }
.contFooter { 
	width:100%; 
	height: auto; 
	float: left; 
	margin-bottom:2em;
    padding: 0;
}
.contFooter ul        { width:100%; float:left; list-style: none; padding: 0;}
.contFooter ul li     { padding:0.2em 0em; }
.contFooter ul li a   { text-decoration: none; color:#ffffff; font-size:1em; }
.contFooter ul li a i { font-size:0.5em; }
.contFooter ul li a:hover {text-decoration: underline; }
.contFooter .titleFooter { 
	font-family: Roboto, sans-serif; 
	font-size:1.3em; 
	color:#ffffff; 
	padding-bottom: 0.5em; 
	margin-bottom:0.5em; 
	border-bottom:1px #f5c5a5 solid;
}
.contFooter p  { font-family: Roboto, sans-serif; color:#ffffff; font-size:1em; line-height: 1.2rem; } 

.copyright { background-color:#b86026; width:100%; float:left; text-align:center; padding:0rem 0em; }
.copyright p { font-family:Roboto, sans-serif; font-size:1em; color:#fff; height:20px; }
.copyright .siteCopy { margin-bottom:0.5em; }
.copyright .siteBy { font-size:0.96em; margin-top: 1rem;}
.copyright .siteBy a { color:#fff; text-decoration:none; }

/*Responsivo*/
@media (min-width:48em){
.contFooter  { width:30%; margin-right:5%; margin-bottom:0; }
.contFooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
}

/* Barra de rolamento vertical personalizada */
::-webkit-scrollbar {
    background-color: #000;
    border: 4px solid #fff;
    height: 9px;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 3px solid #fff;
    height: auto;
    width: 5px;
}

/* Hack para mostrar margem inferior em dispositivos mobile.*/
.nbsp {
    height: 1px;
    margin: 0;
    border: .25rem solid transparent;
}

@media screen and (min-width: 480px) {
    #wrap>nav .navbar {
        justify-content: space-between;
    }

    #wrap>nav .navbar a:first-child {
        margin-right: 0
    }

    #wrap>nav .navbar a {
        flex-direction: row;
        padding: 10px;
    }

    #wrap>nav .navbar a i {
        font-size: 1.2rem;
        margin-bottom: 0;
        margin-right: .5rem;
    }

    #wrap>header {
        margin: 5.5rem 0.5rem 0.5rem 0.5rem;
    }
}

@media screen and (min-width: 900px) {
    #wrap>main {
        flex-direction: row;
    }

    #wrap>main>aside {
        margin-left: .5rem;
        min-width: 260px;
        max-width: 260px;
    }

    #wrap>main h3 {
        margin: 3px 0px 0px 0px;
    }
}